:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Take off dots from all lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Take off underline from all links */
.link,
.contacts-link,
.web {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding: 0 15px;
}

/* sections margin bottom 94px */

.features,
.work,
.team {
  padding-bottom: 94px;
}

/* _______________________________________________________________HEADER_____________________________________________ */

/* logo */
.web {
  color: var(--accent-color);
}
.studio {
  color: #000000;
}
.studio.foot {
  color: var(--background-color);
}

.web,
.studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site-header .container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.site-header {
  border-bottom: 1px solid #ececec;
}

/* site-nav */

.nav-list {
  display: flex;
  width: 294px;
  margin-left: 93px;
  justify-content: space-between;
}

.site-nav,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  color: var(--primary-text-color);
}
.site-header .contacts-link:last-child {
  margin-left: 50px;
}

/* __________________________________________________________________HERO_________________________________ */
.hero {
  text-align: center;
  background-color: var(--secondary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 200px 0;
  margin-bottom: 94px;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background: #188ce8;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px #000000 40;
}

.btn,
.filter-btn,
.contacts,
.nav-link {
  cursor: pointer;
}

/* __________________________________________________________________FEATURES__________________________________ */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  line-height: 1.71;
}

/* _______________________________________________________________WORK______________________________________________ */

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  padding-bottom: 50px;
}

.work-list,
.team-list {
  display: flex;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

/* _______________________________________________________________TEAM____________________________________________ */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

.teammate {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-duty {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

/* _________________________________________________________________Footer___________________________________________ */

.ftr {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-height: 252px;
}

.addrs {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  max-height: 81px;
}

.location {
  color: var(--background-color);
  text-decoration: none;
}

.ftr .contacts {
  padding-bottom: 9px;
}

/* Portfolio */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: currentColor;
  text-align: center;
}

.filter-btn:focus,
.filter-btn:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/* PROJECTS */
.btn-list {
  display: flex;
  justify-content: center;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
